#!/usr/bin/env bash
set -eou pipefail

curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python3 -
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/darwin/{{.chezmoi.arch}}/kubectl"

cargo install exa
cargo install bat
cargo install ripgrep

{{ if eq .chezmoi.os "linux" -}}

sudo apt update
sudo apt install -y zsh
sudo apt install -y rbenv
sudo apt install -y jq
sudo apt install -y fd-find
sudo apt install -y fzf
sudo apt install -y postgresql-client

sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose

{{ else if eq .chezmoi.os "darwin" -}}

brew install zsh
brew install rbenv
brew install jq
brew install fd
brew install fzf
brew install libpq
brew link --force libpq ail

{{ end -}}